build
social.xcodeproj/xcuserdata/napp.xcuserdatad/xcschemes/Build & Test.xcscheme
social.xcodeproj/xcuserdata/napp.xcuserdatad/xcschemes/social.xcscheme
social.xcodeproj/xcuserdata/napp.xcuserdatad/xcschemes/xcschememanagement.plist